/* custom css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ravi', serif;
    color: #ffffff !important;
    font-weight: 600;
    background-color: #101A0E !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: 'Ravi' !important;
}


p {
    font-weight: 600 !important;
    margin-bottom: 0rem !important;
}


a {
    text-decoration: none !important;
    color: #ffffff !important;
    font-weight: 700;
    font-family: 'Ravi';
}

ul {
    list-style: none;

}

.text-jus {
    text-align: justify !important;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 54px;
}


.container-2 {
    max-width: 1310px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}

.mt {
    margin-top: 100px;
}

.mt2 {
    margin-top: 200px;
}


.bg-gold {
    background-color: #BC945C;
}

.border-gold {
    border: 1px solid #BC945C;
}

.text-gold {
    color: #BC945C !important;
}

.btn-form-2:hover {
    background-color: #101A0E;
    color: #fff !important;
    transition: all ease 0.5s;
}

.btn-form-3:hover {
    background-color: #BC945C !important;
    color: #000000 !important;
    transition: all ease 0.5s;
}


/* custom css */


/* navbar */

.menu ul li a {
    font-size: 14px;
    position: relative;
    transition: all 0.3s ease;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    color: inherit; /* رنگ لینک را در حالت هاور تغییر ندهید */
}

.activelink {
    pointer-events: none; /* جلوگیری از هاور روی لینک فعال */
    border-bottom: 3px solid #b6884f;
    color: #b6884f !important;

}

.activelink a:hover {
    border-bottom: none;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #b6884f;
    bottom: -15px;
    left: 0;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    color: #b6884f !important;
}

.menu ul li a:hover::after {
    width: 100%;
}


.menu-mobile.animate__fadeIn {
    animation: fadeIn 0.5s forwards;
    z-index: 1000;
}

.menu-mobile.animate__fadeOut {
    animation: fadeOut 0.5s forwards;
}


.bi-x.rotate {
    transform: rotate(360deg);
    transition: transform 0.4s ease;
    animation: spin 0.4s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-header {
    background-color: #bc945c;
    height: 70px;
    width: 180px;
    color: white;
    font-size: 18px;
    border: none;
    transition: background-color 0.6s ease, color 0.6s ease;
    padding: 20px 25px;

}

.btn-header:hover {
    background-color: #ffffff;
    color: black !important;
}

.banner {
    background-image: url("../image/slider1.jpg");
    height: 370px;
    margin-top: -30px;
    object-fit: cover;
    background-repeat: no-repeat; /* جلوگیری از تکرار */
    background-size: cover; /* تصویر کل بخش را پوشش دهد */
}


/* menu-mobile */

.menu-mobile {
    display: none;
    background: linear-gradient(rgba(16, 26, 14, 0.68), rgba(16, 26, 14, 0.68)), url("../image/slider2.jpg");
    position: fixed;
    background-size: cover;
    top: -22px;
    right: 0;
    bottom: 0;
    width: 270px;
    z-index: 1000; /* این خط فقط تغییر کرده */
    height: 103vh;
}

.menu-mobile.hide {
    display: none;
}

.menu-mobile ul {
    position: absolute;
    top: 30px;
    width: 100%;
}

.menu-mobile ul li {
    padding: 15px;
    width: 100%;
}

.bi-x {
    position: absolute;
    top: 30px;
    left: -45px;
    font-size: 42px;
    cursor: pointer !important;
    z-index: 2;

}

.mobile {
    display: none;
}


.icon-menu {
    position: absolute;
    left: 10px;
    bottom: 100px;

}

.icon-menu i {
    font-size: 20px;
    color: #bc945c;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(188, 148, 92, 0.2);
    display: inline-block;

}

/* navbar */


/* header */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide-2 {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide-2 img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
}

.hed-img {
    margin-top: -40px;
}


.text-slider {
    position: absolute;
}

/* header */


/* box header  */

.box-hed {
    margin-top: -126px;
    position: relative;
    z-index: 1;
}

.custom-card {
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all ease 0.5s;
    border-bottom: 5px solid #b6884f;
}

.custom-card h6 {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.custom-card h5 {
    color: #BC945C;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0px;
}

.custom-card p {
    color: #333;
    font-size: 16px;
    padding-bottom: 50px;
}

.btn-custom {
    background-color: #BC945C;
    color: rgb(0, 0, 0) !important;
    border: none;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 20px;
    font-size: 15px;


}

.btn-custom:hover {
    background-color: #ffffff;
    color: #000 !important;
}

.custom-card:hover {
    background-color: #101A0E;
    color: #fff !important;

}

.custom-card:hover p,
.custom-card:hover h6 {

    color: #fff !important;

}

/* box header  */


/* about */


.bg-befor::before {
    content: "";
    position: absolute;
    background-image: url("../image/bgimage.png");

    top: 32px;
    right: -29px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-right: 5px solid #bc945c;

}


/*about  */

/* conatct */


.form-control {
    background-color: transparent;
    color: #e8dfce;
    border: 1px solid #d1a264;
    padding: 15px;
    border-radius: 0;
    font-size: 1rem;
    position: relative;
}

.form-group {
    position: relative;
    margin-bottom: 40px;
}

.form-group label {
    top: -10px;
    right: 10px;
    background-color: #162314;
    color: #e8dfce;
    padding: 0 5px;
    font-size: 0.85rem;
    z-index: 1;
}

.form-control::placeholder {
    color: #e8dfce;
}

.form-control:focus {
    background-color: transparent;
    color: #e8dfce;
    outline: none;
    box-shadow: none;
    border-color: #d1a264;
}

.btn-form {
    background-color: #d1a264;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}

.btn-form:hover {
    background-color: #ffffff;
    color: #000 !important;
}

.text-center .border-gold:hover {
    background-color: #b88b51;
    color: #000 !important;
}


/* conatct */


/* category */

.category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.box-category {
    padding: 70px 0px;
    color: #000000 !important;
    border-bottom: 2px solid #b6884f;
    box-sizing: border-box;
    border-top: 7px solid transparent;
}

.box-category:hover {
    background-color: #182615 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff !important;
    border-top: 7px solid #b88b51;
}


.btn-hover:hover {
    background-color: #ffffff;
    color: #000 !important;
    transition: all ease 0.5s;
}


/* category */

.cases h6 {
    color: #b88b51;
}


.cases {
    margin-top: 50px;
}

.case {
    margin-bottom: 50px;
    border-bottom: 1px solid #444;
    padding-bottom: 30px;
}


.case h3 {
    font-size: 2rem;
    color: #BC945C;


}

.case h6 {
    margin-bottom: 10px;


}

.case p {
    font-size: 1.2rem;
    color: #cccccc;

}


/* amar */


/* comment */

.swiper-pagination-bullet {
    width: 10px;
    border-radius: 50rem;
    height: 10px;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #000000;
}

.img-comment {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* comment */


/* blog */

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.box-blog {
    min-height: 350px;
    border-bottom: 5px solid #bc945c;
    transition: all ease 0.5s;
}

.box-blog h3 {
    color: #000000;
    transition: all ease 0.5s;
}


.box-blog:hover {
    color: #fff !important;
    background-color: #182615 !important;
}

.box-blog:hover h3 {
    color: #fff !important;
}


/* blog */


/* footer */

.box-footer {
    background-color: #182615;
    min-height: 412px;
    margin-top: -101px;
    padding: 40px;
    border-top: 5px solid #bc945c;
}

footer .list-unstyled li a {
    transition: all ease 0.4s;
}

footer .list-unstyled li a:hover {
    color: #b6884f !important;
}

footer .list-unstyled li:hover .bi-chevron-left {
    background-color: #b6884f !important;
    color: #000 !important;
    padding: 4px;
}

footer .list-unstyled li .bi-chevron-left {
    margin-left: 10px;
    transition: all ease 0.4s;
    width: 20px;
    height: 20px;
    border-radius: 10px;

    display: inline-block;


}

.footer-icon a {
    position: relative;
    text-decoration: none;
}

.footer-icon a i:hover {
    background-color: #b6884f;
    color: #fff !important;
}

.footer-icon a::before {
    content: attr(data-text);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: #bc945c;
    font-size: 12px;
    transition: all 0.3s ease;
    background-color: #b6884f;
    padding: 5px;
    color: #000;
}

.footer-icon a:hover::before {
    top: -45px;
    opacity: 1;
}

/* footer */


/* fix-phone */

.fix-phone {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    z-index: 50;
    display: none;
}

/* fix-phone */


/* about.html */


.about {
    background-color: #182615;
    color: #ffffff;
    padding: 75px;
    margin-top: -80px;
    position: relative;
}


.text-warning {
    color: #D1A44E !important;
}

.fab {
    font-size: 24px;
}


/* -amar-about */


.amar-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 5px solid #b88b51;

}

.box-amar-about {
    background-color: #182615;
    padding: 40px 30px;
    border-width: 0 0 1px 1px;
    border-color: #BC945C40;
    border-style: solid;
}


/* -amar-about */


/* time */

#timeline {
    margin: 20px auto;
    position: relative;
}

#timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

#timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}

#timeline article:after {
    content: '';
    display: block;
    clear: both;
}

#timeline article div.inner {
    width: 40%;
    float: right;
    margin: 5px 0 0 0;
    border-radius: 6px;
    padding: 50px 10px !important;
    transition: all ease 0.5s;
    cursor: pointer !important;
}


.inner:hover {
    background-color: #182615;
    color: #fff !important;
}

.border-date {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #BC945C;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

#timeline article .inner .border-date .date {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    background: #BC945C;

}

.inner {
    background-color: #Fff;
    color: #000000 !important;
}


.day {
    position: absolute;
    right: 75px;
    background: #BC945C;
    padding: 5px 10px;
}

#timeline article div.inner span.date span {
    display: block;
    text-align: center;
}

#timeline article div.inner span.date span.day {
    font-size: 10px;
}

#timeline article div.inner span.date span.month {
    font-size: 18px;
}

#timeline article div.inner span.date span.year {
    font-size: 10px;
}

#timeline article div.inner h2 {
    padding: 15px;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
}

#timeline article div.inner h2:after {
    content: '';
    position: absolute;
    top: 20px;
    right: -5px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
}

#timeline article div.inner p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    color: #656565;
    border-radius: 0 0 6px 6px;
}

#timeline article:nth-child(2n+2) div.inner {
    float: left;
}

#timeline article:nth-child(2n+2) div.inner .day {

    position: absolute;
    padding: 5px 10px;
    right: -87px !important;
    background: #BC945C;

}

#timeline article:nth-child(2n+2) div.inner h2:after {
    left: -5px;
}


/* time */


/* about.html */


/* service.html */

.service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.box-servise {
    padding: 20px 20px 60px 20px;
    color: #000000 !important;
    border-top: 7px solid #b88b51;
}

.box-servise:hover {
    background-color: #182615 !important;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    color: #fff !important;

}


/* accordion */


.accordion-item-2 {
    margin-bottom: 10px;
    box-shadow: #0000000d 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: #fff;
    border: 1px solid #b88b5179;

}

.accordion-header {
    padding: 15px;
    cursor: pointer;
    font-weight: bold;


}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    border-radius: 10px;
    transition: all ease-in 0.5s;
    font-size: 12px;

}

.accordion-body.active {
    max-height: 200px;
    /* Adjust this value based on the content */
    padding: 15px;

}

.accordion-bg {
    background-color: #201E1B !important;
    border-bottom: 1px solid #b88b51;
    color: #b6884f;
}


.bg-befor3::before {
    content: "";
    position: absolute;
    background-image: url("../image/bg-layer1.png");
    border-color: #bc945c;
    top: 32px;
    right: 22px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.se {
    /*margin-top: -121px;*/
    position: relative;
}

/* service.html */


/* blog.html */


.input-blog {
    padding: 10px 0px !important;
}

.bg-blog {
    background-color: #182615;
    border-bottom: 5px solid #BC945C;
}

.btn-form-3 {
    border: 1px solid #BC945C;
    background-color: #182615;
    color: #BC945C !important;
}

.blog-title {
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-blog ul li {
    border-bottom: 1px solid #303030bb;
    padding-bottom: 2px;
}

.menu-2 {
    font-size: 10px;
    padding: 10px 0;

}

.menu-2 ul {
    list-style: none;
    display: flex;
    border-radius: 5px;

}

.menu-2 ul li {
    margin: 0 3px;
}

.menu-2 ul li a {
    display: block;
    padding: 10px 20px;
    color: #b6945c !important;
    text-decoration: none;
    background-color: #213221;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.menu-2 ul li a:hover {
    background-color: #2e472e;
}

.highlight a {
    background-color: #b6945c !important;
    color: #1c1d1c !important;
}

.highlight a:hover {
    background-color: #d8a775;
}


/* comment */

.comment-container {
    background-color: #1a2919;
    border-radius: 10px;
    padding: 48px 20px;
    margin: 50px auto;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.comment-info {
    text-align: right;
}

.comment-author {
    font-size: 1rem;
    font-weight: bold;
    color: #d8a775;
}

.comment-date {
    font-size: 0.875rem;
    color: #7a7a7a;
}

.comment-body {
    margin: 15px 0;
    line-height: 1.6;
    text-align: right;
}

.comment-footer {
    text-align: left;
}

.reply-link {
    color: #d8a775;
    text-decoration: none;
    font-size: 0.9rem;
}

.reply-link:hover {
    text-decoration: underline;
}

.comment-box {
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.comment-box h2 {
    color: #ebb669;
    text-align: right;
}

.comment-box p {
    font-size: 12px;
    margin-bottom: 10px;
}

.comment-box label {
    display: block;
}

.comment-box input[type="text"],
.comment-box input[type="email"],
.comment-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #4c554c;
    border-radius: 5px;
    background-color: #ffffff;
    color: #d1d0c5;
}

.comment-box input[type="checkbox"] {
    margin-right: 5px;
}

.comment-box .submit-btn {
    background-color: #d1a46f;
    border: none;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.comment-box .submit-btn:hover {
    background-color: #b6884f;
}


.comment-box .captcha label {
    width: auto;
    margin: 0 10px 0 0;
}


/* blog.html */


/* shop.httml */


.filters {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.filters select {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #4c4c4c;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product-card {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card .product-info {
    padding: 10px;
}

.product-card .product-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-card .product-price {
    color: #000000;
    font-size: 14px;
    margin-top: 10px;
    position: absolute;
    top: 0;
}

.product-card .old-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 10px;
}

.product-card .discount {
    background-color: #d1a46f;
    color: #1e1e1e;
    padding: 5px 5px;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
}

.product-card .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.product-card button {
    padding: 8px 15px;
    background-color: #101a0e;
    border: none;
    color: #bc945c;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 93px;
    left: 50%;
    transform: translateX(-50%);

}

.product-card button:hover {
    background-color: #d1a46f;
    color: #fff;
}


.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    display: block;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #2f3b2f;
    color: #d1d0c5;
    transition: all 0.3s ease;
    position: relative;
    text-align: center;
    border-bottom: 3px solid #d1a46f;
}

.pagination a.active {
    background-color: #d1a46f;
    color: #1e1e1e;
}

.pagination a:hover {
    background-color: #4c554c;
}


.pagination a.active span {
    border-top-color: #1e1e1e;
}

/* shop.httml */


/* contact.httml */


.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-item:last-child {
    margin-bottom: 0;
}

.contact-icon {
    width: 50px;
    height: 50px;
    background-color: #394639;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 15px;
    position: relative;
}

.contact-icon::before {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 80%;
    height: 5px;
    background-color: #d1a46f;
    border-radius: 5px;
}

.contact-icon img {
    width: 25px;
    height: 25px;
}

.contact-details {
    flex-grow: 1;
}

.contact-details h3 {
    margin: 0;
    font-size: 22px;
    color: #d1a46f;
}

.contact-details p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #d1d0c5;
}

.contact {
    background-color: #182615;
    border-bottom: 5px solid #BC945C;
    margin-top: -120px;
    position: relative;
    z-index: 5000;
}

/* contact.httml */


/* تنظیمات کلی برای دکمه و منو */
.support-container {
    position: fixed;
    bottom: 30px;
    right: 300px;
    z-index: 10000000000000000000000000000;
}
.green-light {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background: linear-gradient(145deg, #00ff00, #00cc00);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
    animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: translateX(-50%) scale(0.9);
        opacity: 0.8;
    }
    50% {
        transform: translateX(-50%) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) scale(0.9);
        opacity: 0.8;
    }
}

.support-button {
    background-color: #b6884f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
    z-index:1000 ;
}

.support-button .bi {
    font-size: 30px;
    color: #fff;
    transition: transform 0.4s ease;
    top: 150px;
    left: 0px;
}

.bi-whatsapp {
    padding-top: 10px;
}

/* لایه پس‌زمینه مشکی کم‌رنگ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    transition: opacity 0.3s ease;
}

/* منوی پشتیبانی مرکزی */

.support-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: linear-gradient(to bottom, #101a0e, #428535);
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
    padding: 60px 0px;
}

.support-item {
    padding: 15px;
    display: flex;
    align-items: center;
}

.support-item i {
    margin-right: 10px;
}

.support-item a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    width: 100%;
}


/* service-2 */

.service-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* profile*/

.profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


/*register popup


