{% extends 'base.html' %}
{% block title %}درباره ما | موسسه حقوقی آوا حق با 10 سال سابقه درخشان{% endblock %}
{% block meta_description %}موسسه حقوقی آوا حق با بیش از 10 سال تجربه در زمینه وکالت و مشاوره حقوقی، ارائه دهنده خدمات تخصصی در دعاوی خانواده، املاک، قراردادها و کیفری.{% endblock %}
{% block banner %}
    <div class="banner">
        <div class="text-center" style="padding-top: 150px;">
            <h1>درباره موسسه حقوقی آوا حق</h1>
            <div class="mt-3 d-flex gap-2 text-gold justify-content-center">
                <i class="bi bi-house-fill"></i>
                <i class="bi bi-chevron-left"> </i>
                <span class="fw-light">درباره ما</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block banner-mob %}
    <div class="banner">
        <div class="text-center" style="padding-top: 150px;">
            <h1>درباره موسسه حقوقی آوا حق</h1>
            <div class="mt-3 d-flex gap-2 text-gold justify-content-center">
                <i class="bi bi-house-fill"></i>
                <i class="bi bi-chevron-left"> </i>
                <span class="fw-light">درباره ما</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <section>
        <div class="container">
            <div class="about">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-5  text-right">
                        <p class="text-gold mb-1">سلام، ما گروه وکالت آوا حق هستیم</p>
                        <h2 class="mb-4">با بیش از ۱۰ سال تجربه در خدمت عدالت و حقوق شما</h2>
                        <p class="mb-4 text-jus lh-lg">موسسه حقوقی آوا حق با بیش از ۱۰ سال سابقه درخشان در زمینه وکالت و مشاوره حقوقی، اکنون خدمات خود را به صورت آنلاین نیز ارائه می‌دهد. تیم ما متشکل از وکلای مجرب و متخصص در زمینه‌های مختلف حقوقی از جمله دعاوی خانواده، املاک، قراردادها، دعاوی کیفری و تجاری است. ما همواره تلاش کرده‌ایم با ارائه راهکارهای حقوقی موثر و کارآمد، حقوق موکلین خود را به بهترین شکل تأمین کنیم. اکنون با راه‌اندازی پلتفرم آنلاین، دسترسی به خدمات حقوقی تخصصی را برای تمامی هموطنان عزیز آسان‌تر کرده‌ایم.</p>
                        {% load static %}
                        <img src="{% static "image/signature1.png" %}" alt="امضای موسسه حقوقی آوا حق" width="30%">
                    </div>

                    <!-- Awards Section -->
                    <div class="col-lg-5  text-right">
                        <h2>جوایز و افتخارات</h2>
                        <p class="mb-4">  موسسه حقوقی آوا حق و وکلای آن افتخارات متعددی در عرصه حقوقی کسب کرده‌اند.</p>
                        {% load static %}
                        <img src="{% static "image/awards.png" %} " class="mt w-50 w-75" alt="جوایز موسسه حقوقی آوا حق" width="w-50">
                        <div class="mt d-flex align-items-center justify-content-between">
                            <p>در تماس باشید</p>
                            <div class="d-flex justify-content-end ">
                                <a href="#" class="text-warning mx-2"><i class="bi bi-linkedin"></i></a>
                                <a href="#" class="text-warning mx-2"><i class="bi bi-instagram"></i></a>
                                <a href="#" class="text-warning mx-2"><i class="bi bi-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- amar -->
    <section>
        <div class="container-2 mt2">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <img src="{% static "image/icon1.png" %}" alt="خدمات حقوقی موسسه آوا حق">
                    <h2 class="my-5">ما متخصص در دعاوی خانواده، املاک و مستغلات،<br> قراردادهای تجاری و دعاوی کیفری هستیم.</h2>
                    <a href="/blog" class="bg-gold text-black px-3 p-2 btn-form">
                        تمام مطالب وبلاگ </a>
                </div>
                <div class="col-md-6">
                    <div class="amar-about">
                        <div class=" box-amar-about">
                            <div class="d-flex justify-content-end">
                                <img src="{% static "image/icon20.png" %} " alt="سال تجربه موسسه حقوقی">
                            </div>
                            <div class="ps-3">
                                <h2>۱۰+</h2>
                                <h6>سال تجربه</h6>
                            </div>
                        </div>
                        <div class=" box-amar-about">
                            <div class="d-flex justify-content-end">
                                <img src="{% static "image/icon20.png" %} " alt="پرونده های موفق موسسه">
                            </div>
                            <div class="ps-3">
                                <h2>۱۰۰۰+</h2>
                                <h6>پرونده موفق</h6>
                            </div>
                        </div>
                        <div class=" box-amar-about">
                            <div class="d-flex justify-content-end">
                                <img src="{% static "image/icon20.png" %} " alt="وکلای متخصص موسسه">
                            </div>
                            <div class="ps-3">
                                <h2>۲۰+</h2>
                                <h6>وکیل متخصص</h6>
                            </div>
                        </div>
                        <div class=" box-amar-about">
                            <div class="d-flex justify-content-end">
                                <img src="{% static "image/icon20.png" %} " alt="رضایت موکلین موسسه">
                            </div>
                            <div class="ps-3">
                                <h2>۹۸٪</h2>
                                <h6>رضایت موکلین</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- time -->
    <section class="container-2 timeline mt2">
        <div class="text-center mb-5">
            <h2>مسیر رشد و پیشرفت موسسه حقوقی آوا حق</h2>
            <p>نگاهی به تاریخچه و دستاوردهای موسسه حقوقی آوا حق در طول سال‌ها</p>
        </div>
        <div id="timeline">
            <article>
                <div class="inner p-3">
                    <div class="border-date">
                        <div class="date">
                        </div>
                        <span class="day">۱۳۸۵</span>
                    </div>
                    <h3>تأسیس دفتر حقوقی</h3>
                    <h4 class="text-gold">آغاز راه</h4>
                    <p> حقوقی آوا حق با یک دفتر کوچک و تیمی متشکل از ۳ وکیل متخصص فعالیت خود را آغاز کرد. در همان سال اول، موفق به حل و فصل بیش از ۵۰ پرونده حقوقی شدیم.</p>
                </div>
            </article>
            <article>
                <div class="inner p-3">
                    <div class="border-date">
                        <div class="date">
                        </div>
                        <span class="day">۱۳۸۸</span>
                    </div>
                    <h3>گسترش فعالیت‌ها</h3>
                    <h4 class="text-gold">توسعه تیم</h4>
                    <p>با افزایش اعتماد موکلین و افزایش تعداد پرونده‌ها، تیم ما به ۱۰ وکیل متخصص در زمینه‌های مختلف حقوقی گسترش یافت و دفتر مرکزی بزرگتری تأسیس شد.</p>
                </div>
            </article>
            <article>
                <div class="inner p-3">
                    <div class="border-date">
                        <div class="date">
                        </div>
                        <span class="day">۱۳۹۱</span>
                    </div>
                    <h3>کسب اولین جایزه ملی</h3>
                    <h4 class="text-gold">افتخار حقوقی</h4>
                    <h6>کسب اولین جایزه ملی</h6>
                    <h2 class="text-gold">افتخار حقوقی</h2>

                    <p>  آوا حق به عنوان یکی از برترین موسسات حقوقی کشور شناخته شد و موفق به دریافت جایزه ملی کیفیت خدمات حقوقی گردید.</p>
                </div>
            </article>
            <article>
                <div class="inner p-3">
                    <div class="border-date">
                        <div class="date">
                        </div>
                        <span class="day">۱۳۹۴</span>

                    </div>
                    <h6>راه‌اندازی شعب استانی</h6>
                    <h2 class="text-gold">گسترش جغرافیایی</h2>

                    <p>با هدف دسترسی آسان‌تر موکلین به خدمات حقوقی، شعب استانی  در چندین شهر بزرگ کشور راه‌اندازی شد و تعداد وکلای همکار به بیش از ۱۰ نفر رسید.</p>
                </div>
            </article>
            <article>
                <div class="inner p-3">
                    <div class="border-date">
                        <div class="date">
                        </div>
                        <span class="day">۱۳۹۷</span>

                    </div>
                    <h6>تخصصی‌سازی خدمات</h6>
                    <h2 class="text-gold">ارتقای کیفیت</h2>

                    <p>با تقسیم‌بندی دقیق‌تر حوزه‌های تخصصی، کیفیت خدمات حقوقی ارتقا یافت و تیم‌های تخصصی در زمینه‌های مختلف حقوقی تشکیل شد.</p>
                </div>
            </article>
            <article>
                <div class="inner p-3">
                    <div class="border-date">
                        <div class="date">
                        </div>
                        <span class="day">۱۴۰۲</span>

                    </div>
                    <h6>راه‌اندازی پلتفرم آنلاین</h6>
                    <h2 class="text-gold">انقلاب دیجیتال</h2>

                    <p>با هدف تسهیل دسترسی به خدمات حقوقی و همگام با تحولات دیجیتال، پلتفرم آنلاین آوا حق راه‌اندازی شد تا امکان مشاوره آنلاین و پیگیری پرونده‌ها از راه دور فراهم گردد.</p>
                </div>
            </article>


        </div>
    </section>
    <!-- time -->


    <!-- comment -->

    <section>
        <div class="container-2 mt2">
            <h2 class="text-center">مشتریان درباره ما چه گفتند؟</h2>
            <p class="text-center text-gold">بیش از ۱۰۰۰ موکل رضایتمند با ما همراه بوده‌اند.</p>
            <div class="swiper mySwiper2 mt-5">
                <div class="swiper-wrapper">
                    <div class="swiper-slide p-5 text-center position-relative"
                         style="background: #182615; border-bottom: 5px solid #BC945C ;">
                        <img src="{% static "image/tst1.jpg" %} " class="img-comment" width="80px" alt="">
                        <h4 class="mt-5">علی محمدی</h4>
                        <p class="mb-3">دعوای ملکی</p>
                        <p class="my-4 lh-lg">"پس از سال‌ها درگیری با مشکل حقوقی ملکی، با آوا حق آشنا شدم. وکلای متخصص این  با دقت و تخصص بالا پرونده من را بررسی کردند و با ارائه راهکارهای حقوقی مناسب، در مدت کوتاهی موفق به احقاق حق من شدند. صداقت، تعهد و پیگیری مستمر آنها واقعاً ستودنی است. از صمیم قلب از تیم حرفه‌ای آوا حق سپاسگزارم."</p>

                        <div>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>

                        </div>
                    </div>
                    <div class="swiper-slide p-5 text-center position-relative"
                         style="background: #182615; border-bottom: 5px solid #BC945C ;">
                        <img src="{% static "image/tst1.jpg" %} " class="img-comment" width="80px" alt="">
                        <h4 class="mt-5">سارا رضایی</h4>
                        <p class="mb-3">دعوای خانوادگی</p>
                        <p class="my-4 lh-lg">"در یکی از سخت‌ترین شرایط زندگی‌ام، آوا حق همچون یک حامی واقعی در کنارم بود. وکیل پرونده من با درک عمیق از شرایط حساس خانوادگی، علاوه بر ارائه مشاوره‌های حقوقی دقیق، از نظر روحی نیز به من کمک بسیاری کرد. نتیجه پرونده فراتر از انتظارات من بود و اکنون با خیال راحت به زندگی جدیدم ادامه می‌دهم."</p>

                        <div>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>

                        </div>
                    </div>
                    <div class="swiper-slide p-5 text-center position-relative"
                         style="background: #182615; border-bottom: 5px solid #BC945C ;">
                        <img src="{% static "image/tst1.jpg" %} " class="img-comment" width="80px" alt="">
                        <h4 class="mt-5">محمد کریمی</h4>
                        <p class="mb-3">قراردادهای تجاری</p>
                        <p class="my-4 lh-lg">"به عنوان یک کارآفرین، همواره نیازمند مشاوره حقوقی در زمینه قراردادهای تجاری هستم. همکاری با موسسه حقوقی آوا حق یکی از بهترین تصمیمات کاری من بوده است. تیم حقوقی آنها با تسلط کامل بر قوانین تجاری، همواره راهنمای من در تنظیم قراردادها و حل اختلافات بوده‌اند. سرعت عمل و دقت بالای آنها در رسیدگی به امور حقوقی کسب و کار من بی‌نظیر است."</p>

                        <div>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>

                        </div>
                    </div>
                    <div class="swiper-slide p-5 text-center position-relative"
                         style="background: #182615; border-bottom: 5px solid #BC945C ;">
                        <img src="{% static "image/tst1.jpg" %}" class="img-comment" width="80px" alt="">
                        <h4 class="mt-5">زهرا احمدی</h4>
                        <p class="mb-3">دعوای بیمه</p>
                        <p class="my-4 lh-lg">"پس از تصادف شدید و عدم پرداخت خسارت توسط بیمه، با موسسه حقوقی آوا حق تماس گرفتم. از همان ابتدا، برخورد حرفه‌ای و دلسوزانه آنها مرا مطمئن ساخت که در مسیر درستی قدم گذاشته‌ام. وکیل پرونده من با پیگیری‌های مستمر و استدلال‌های قوی حقوقی، موفق شد تمامی خسارات مرا از شرکت بیمه دریافت کند. قطعاً موسسه حقوقی آوا حق را به تمامی دوستان و آشنایان خود معرفی خواهم کرد."</p>

                        <div>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>
                            <span class="text-gold">★</span>

                        </div>
                    </div>


                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <!-- comment -->


    <!-- aftekar -->
    <section>
        <div class="container-2 text-center mt">
            <div class="bg-white w-50 mx-auto text-black p-4 bg-befor position-relative">
                <h4>ما مفتخریم که پرونده شما را بررسی کنیم</h4>
                <p class="my-4">با بیش از ۱۰ سال تجربه در زمینه‌های مختلف حقوقی، آماده ارائه خدمات تخصصی به شما هستیم. پرونده خود را به صورت آنلاین برای ارزیابی رایگان ارسال کنید.</p>
                <a href="https://avahagh.ir/home/#free" class="bg-gold mt-4 d-inline-block p-3 px-5 text-black btn-form-2"> <i
                        class="fa fa-balance-scale me-2 fw-bold "></i> ارزیابی رایگان </a>
            </div>
        </div>
    </section>



    <!-- fix phone -->
    <div class="bg-gold fix-phone">
        <a href="tel:001800345678" title="تماس با ما 02112345678"><i class="bi bi-telephone px-2 py-1 me-2"
                                                                     style="background-color: rgba(16,26,14,0.31);"></i><span> تماس با ما
                ۰۲۱۱۲۳۴۵۶۷۸</span></a>
    </div>
    <!-- fix phone -->
{% endblock %}