<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="relative overflow-hidden shadow-md rounded-lg">
    <table class="table-auto w-full text-left">
        <thead class=" bg-[#6b7280] text-[#e5e7eb]" style="background-color: #000000; color: #e5e7eb;">
        <tr>
            <td contenteditable="true" class="py-3 border border-black-200 text-center  p-4"
                data-listener-added_36fdc7e2="true">slug
            </td>
            <td contenteditable="true" class="py-3 border border-gray-200 text-center  p-4">title</td>
            <td contenteditable="true" class="py-3 border border-gray-200 text-center  p-4">author</td>
        </tr>
        </thead>
        {% for b in blogs %}
            <tbody class="bg-white text-gray-500 bg-[#FFFFFF] text-[#6b7280]"
                   style="background-color: #FFFFFF; color: #6b7280;">
            <tr class=" py-10">
                <td contenteditable="true" class=" py-10 border border-gray-200 text-center  p-4">{{ b.slug }}</td>
                <td contenteditable="true" class=" py-10 border border-gray-200 text-center  p-4">{{ b.title}}</td>
                <td contenteditable="true" class=" py-10 border border-gray-200 text-center  p-4">{{b.author}}</td>
            </tr>
            </tbody>
        {% endfor %}

    </table>
</div>
</body>
</html>