{% extends 'base.html' %}
{% block title %}داشبورد کاربر{% endblock %}
{% block banner %}

    <div class="banner">
        <div class="text-center" style="padding-top: 150px;">
            <h2>داشبورد کاربری</h2>
            <div class="mt-3 d-flex gap-2 text-gold justify-content-center">
                <i class="bi bi-house-fill"></i>
                <i class="bi bi-chevron-left"> </i>
                <span class="fw-light">داشبورد کاربری</span>
            </div>
        </div>
    </div>
{% endblock banner %}
{% block banner-mob %}
    <div class="banner">
        <div class="text-center" style="padding-top: 150px;">
            <h2>داشبورد کاربری</h2>
            <div class="mt-3 d-flex gap-2 text-gold justify-content-center">
                <i class="bi bi-house-fill"></i>
                <i class="bi bi-chevron-left"> </i>
                <span class="fw-light">داشبورد کاربری</span>
            </div>
        </div>
    </div>
{% endblock banner-mob %}

{% block content %}

    <!-- profile -->
    <section class="service-section mt-5">
        <div class="container-2 text-center">
            <div class="row gap-4 mx-auto">
                <div class="bg-white box-profile text-black  position-relative col-12 col-md-3 card mx-auto">
                    <h5 class="card-header text-center text-gold bg-white">سرویس های فعال</h5>
                    {% for service in services %}
                        {% if service %}

                            <span class="p-4"> نوع سرویس : {{ service.title }}</span>
                            <span class="p-4"> توضیحات : {{ service.description }}</span>
                            <span class="p-4"> تاریخ شروع : {{ service.start_date|date:"d-m-Y" }}</span>
                            <span class="p-4"> تاریخ پایان : {{ service.end_date|date:"d-m-Y" }}</span>
                            <span class="p-4">
                            {% if service.is_accepted == 1 %}
                                تایید شده
                            {% else %}
                                تایید نشده
                            {% endif %}
                                و
                                {% if service.is_active == 1 %}
                                    فعال
                                {% else %}
                                    اتمام سرویس
                                {% endif %}
                        </span>
                            <hr>
                        {% else %}
                            <button  class="btn-primary" href="http://localhost:8000/pricing/">خرید سرویس</button>
                        {% endif %}

                    {% endfor %}
                </div>
                <div class="bg-white box-profile text-black  position-relative col-12 col-md-3 card mx-auto">
                    <h5 class="bg-white card-header text-center text-gold">تراکنش </h5>
                    {% for trans in transaction %}
                        <p class="p-4">{{ trans.amount }} - {{ trans.created_at }} - {{ trans.transaction_type }}</p>
                    {% endfor %}
                </div>
                <div class="bg-white box-profile text-black  position-relative col-12 col-md-3 card mx-auto">
                    <h5 class="bg-white card-header text-center text-gold">پرونده ها</h5>
                    <p class="p-4">برای شما فعلا پرونده ای نساختیم</p>
                </div>
            </div>
        </div>
    </section>


    <!-- fix phone -->
    <div class="bg-gold fix-phone">
        <a href="tel:001800345678" title="تماس با ما 02112345678"><i class="bi bi-telephone px-2 py-1 me-2"
                                                                     style="background-color: rgba(16,26,14,0.31);"></i><span> تماس با ما
                ۰۲۱۱۲۳۴۵۶۷۸</span></a>
    </div>
    <!-- fix phone -->

{% endblock %}

{% block script %}
{% endblock script %}