<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست کاربران</title>
    <!-- لینک به استایل‌های Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:8000/admin-list/">لیست کاربران</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8000/admin-service/">سرویس ها <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">فرم ها</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h2>لیست کاربران</h2>
    <form method="GET" action="{% url 'userlist' %}">
        <input type="text" name="search" value="{{ search_query }}" placeholder="جستجوی کاربر...">
        <button type="submit">جستجو</button>
    </form>

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>#</th>
            <th>نام</th>
            <th>شماره تلفن</th>
            <th>داشبورد</th>
            <th>سرویس ها</th>
            <th>چت</th>
        </tr>
        </thead>
        <tbody id="user-table-body">
        {% for user in page_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                {% if user.username %}
                    <td><a href="{% url 'users:dashboard_with_username' username=user.username %}">ورود</a></td>
                {% else %}
                    <td>نام کاربری موجود نیست</td>
                {% endif %}
                {% if user.username %}
                    <td><a href="{% url 'servicelist' username=user.username %}">تغییرات</a></td>
                {% else %}
                    <td>کاربر موجود نیست</td>
                {% endif %}
                <td>{{ user.username }}</td>

            </tr>
        {% empty %}
            <tr>
                <td colspan="3" class="text-center">هیچ کاربری یافت نشد</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">اولین</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                        <span class="sr-only">قبلی</span>
                    </a>
                </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                        <span class="sr-only">بعدی</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">آخرین</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
<!-- لینک به اسکریپت‌های جاوا اسکریپت برای Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>


</script>
</body>
</html>
